body{
    margin: 0;
    background-image: linear-gradient(to right, rgba(88,179,164,0.79) 20%, rgba(88,179,164,0.8) 23%, rgba(88,179,164,0.8) 23%, rgba(164,179,87,0.97) 81%, rgba(164,179,87,1) 93%);
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{ 
    text-align: center;
    padding: 20px 0px;
}

.menu a{
    text-decoration: none;
    padding: 0 69px;
    font-family: sans-serif;
    color: rgb(65, 65, 65);
    font-size: 1.2em;
    border-right: 1px solid rgb(255, 1, 1);
    font-weight: bold;
    letter-spacing: 2px;
}

.menu a:hover{
    opacity: 0.5;
}

.menu a:nth-last-child(1){
    border-right: none;
}

/* ----------------------------------------------------------------------- */

.conteudo{
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.card{
    background-color: rgba(240, 248, 255, 0.438);
    width: 80%;
    height: 85%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.card p{
    width: 60%;
    word-break: normal;
    font-size: 1.2em;
}

.card h1{
    font-family: cursive;
    font-size: 2em;
}


/* ---------------------------------------------------------- */
footer{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
}

footer img{
    float: left;
}

.rodape{
    width: 90%;
    padding: 20px 0px;
    color: white;
}

